.display-none {
    display: none !important;
}

.btn {
    background-color: #222;
    border: 0;
    border-radius: 2px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 800;
    line-height: 1;
    padding: 1em 2em;
    text-shadow: none;
    transition: background 0.2s;
    &:hover {
        background: #767676;
        color: white;
    }
}
